*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#header
{
    background-color: darkgray;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    align-items: center;
    padding: 20px;
}
#logo img{
    height: 50px;
    background-color: transparent;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
    padding: 18px 25px;
    transition: 0.5s;
}
nav ul li a:hover{
    background-color: white;
    color: black;
    border-radius: 25%;
}
#container{
    background-color: wheat;
    width: 75%;
    height: 5000px;
    margin: 120px 200px;

}
.sub-box{
    background-color: pink;
    width: 95%;
    height: 350px;
    margin:auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.img-box{
    background-color: cornflowerblue;
    width: 340px;
    height: 310px;
    margin: 20px;
}
.info-box{
    background-color: white;
    width: 650px;
    height: 310px;
    margin: 20px;
}
.img-box img
{
    height: 100%;
    transition: .5s;
}
.img-box img:hover
{
    transform: scale(1.05);
    border-radius: 30px;
    box-shadow: 5px 5px 10px grey;;
}
.info-box a{
    text-decoration: none;
    color: black;
}
.info-box a:hover{
    color: darkslategray;
    text-decoration: underline;
}
.i-name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 20px;
}
#iphone13max_colors{
    position: relative;
    left: 75%;
    align-items: center;
    transform: translateX(-50%);
    /* background-color: aqua; */
    transition: .1s;
}
#iphone13max_colors span{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    padding: 0px 10px;
}
#iphone13max_colors #btn1{
    background-color: rgb(50, 78, 50);
    border-top: .5px  solid black;
}
#iphone13max_colors #btn2{
    background-color: rgb(231, 221, 171);
    border-top: .5px  solid black;
}
#iphone13max_colors #btn3{
    background-color: rgb(78, 77, 77);
    border-top: .5px  solid black;
}
#iphone13max_colors #btn5{
    background-color: rgb(150, 179, 241);
    border-top: .5px  solid black;
}
#iphone13max_colors #btn4{
    background-color: rgb(246, 246, 246);
    border-top: .5px  solid black;
}
#iphone13max_colors span:hover{
    transform: scale(1.05);
}
/* .colors #btn2:hover{
    background-image: url(../images/iphone13pro_gold.png);
} */
.price{
    font-size: 25px;
    margin-left: 40px;
    color: gray;
}
.size{
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
}
.sizehead{
    font-size: 21px;
    margin-left: 20px;
}
#iphone13max_size a{
    width: 250px;
    height: 350px;
    background-color: rgb(226, 226, 226);
    padding: 6px 8px;
}
#iphone13max_size a:hover{
    background-color: rgb(206, 206, 206);
    border-radius: 1px;
}
#iphone13max_size a{
    text-decoration: none;
    color: black;
    font-size: 19px;
}
.info-box ul{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 0px 15px;
}
.info-box ul li{
    padding: 4px;
    margin-right: 25px;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(51, 51, 51);
}





#iphone13_colors{
    position: relative;
    left: 75%;
    align-items: center;
    transform: translateX(-50%);
    /* background-color: aqua; */
    transition: .1s;
}
#iphone13_colors span{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    padding: 0px 10px;
}
#iphone13_colors #bt1{
    background-color: rgb(134, 5, 5);
    border-top: .5px  solid black;
}
#iphone13_colors #bt2{
    background-color: rgb(135, 177, 212);
    border-top: .5px  solid black;
}
#iphone13_colors #bt3{
    background-color: rgb(64, 70, 64);
    border-top: .5px  solid black;
}
#iphone13_colors #bt5{
    background-color: rgb(255, 213, 221);
    border-top: .5px  solid black;
}
#iphone13_colors #bt4{
    background-color: rgb(36, 36, 54);
    border-top: .5px  solid black;
}
#iphone13_colors #bt6{
    background-color: rgb(247, 247, 247);
    border-top: .5px  solid black;
}
#iphone13max_colors span:hover{
    transform: scale(1.05);
}
#iphone13_size span a{
    width: 250px;
    height: 350px;
    background-color: rgb(226, 226, 226);
    padding: 6px 8px;
}
#iphone13_size a:hover{
    background-color: rgb(206, 206, 206);
    border-radius: 1px;
}
#iphone13_size a{
    text-decoration: none;
    color: black;
    font-size: 19px;
}