#iphone13mini_colors{
    position: relative;
    left: 75%;
    align-items: center;
    transform: translateX(-50%);
    /* background-color: aqua; */
    transition: .1s;
}
#iphone13mini_colors span{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    padding: 0px 10px;
}
#iphone13mini_colors #mini13bt1{
    background-color: rgb(134, 5, 5);
    border-top: .5px  solid black;
}
#iphone13mini_colors #mini13bt2{
    background-color: rgb(61, 105, 141);
    border-top: .5px  solid black;
}
#iphone13mini_colors #mini13bt3{
    background-color: rgb(64, 70, 64);
    border-top: .5px  solid black;
}
#iphone13mini_colors #mini13bt5{
    background-color: rgb(255, 213, 221);
    border-top: .5px  solid black;
}
#iphone13mini_colors #mini13bt4{
    background-color: rgb(36, 36, 54);
    border-top: .5px  solid black;
}
#iphone13mini_colors #mini13bt6{
    background-color: rgb(247, 247, 247);
    border-top: .5px  solid black;
}
#iphone13mini_colors span:hover{
    transform: scale(1.05);
}
#iphone13mini_size span a{
    width: 250px;
    height: 350px;
    background-color: rgb(226, 226, 226);
    padding: 6px 8px;
    margin-right: 5px;
}
#iphone13mini_size a:hover{
    background-color: rgb(206, 206, 206);
    border-radius: 1px;
}
#iphone13mini_size a{
    text-decoration: none;
    color: black;
    font-size: 19px;
}